/* Logo style */
 /* .logo {
  display : flex;
  justify-content : center; 
   align-items : flex-start; 
   width :100%; 
   height: 10%; 
}  */

/* header img
{
  width : 15%;
  height : auto;
} */

/* carousel container */
.carousel-container {
  max-width: 90%;
  margin: auto;
  overflow : hidden;
  position : relative;
  border : solid black 1px;
  /* background-color : grey; */
}

/* Here I hide images */
.carousel-container .carousel-item {
  display: flex;
  justify-content:flex-end;
  text-align : center;
  max-width : 100%;
  height : auto;
  margin-top : 20px;

}

.carousel-container .carousel-item p {
  height: 5em;
  background-color : grey;
  opacity : 0.6;
}




/* i give a style and position to previous and next buttons */
.carousel-container .carousel_button button{
  border-radius : 50px;
  border : 0;
  font-weight: bold;
  cursor : pointer;
  width : 30px;
  height : 30px;
  position : relative;
  bottom : 50%;
}


/* On hover, black background color with a little bit see-through */
.Prec:hover, .Suiv:hover {
  background-color: blue;
}


article{
  width : 80%;
  margin : auto;
}